/* ===============================
=============================== */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
/* ===============================
=============================== */
/* ===============================
          Table Start
=============================== */

#main{
    width: 500px;
    height: 350px;
    background-color: #90A19D;
    margin: 0  700px;
    
    
}
.top, .middle{
    display: flex;
}
.top .left{
    width: 50%;
    height: 50px;
    background-color: #363432;
}
.top .left h2{
    color: white;
    line-height: 50px;
    text-align: center;
}
.top .right{
    width: 50%;
    height: 50px;
    background-color: red;
}
.top .right h2{
    color: white;
    line-height: 50px;
    text-align: center;
}
.middle .left{
    width: 50%;
    height: 250px;
    background-color: #EF6024;
}
.middle .left h2{
    line-height: 250px;
    padding: 0 20px;
}
.middle .right{
    width: 50%;
    height: 250px;
    background-color: #6824ef;
}
.middle .right .top{
    background-color: #002333;
    height: 33.33%;
}
.middle .right .top h3{
   color: aliceblue;
    line-height: 83.33px;
    padding: 0 20px;
}
.middle .right h3{
    color: aliceblue;
     line-height: 83.33px;
     padding: 0 20px;
 }
.middle .right .middle{
    background-color: #103778;
    height: 33.33%;
}
.middle .right .bottom{
    background-color: #0593A2;
    height: 33.33%;
}
.bottom{
    background-color: #04B2D9;
    height: 50px;
}
.bottom h2{
    background-color: #04B2D9;
    line-height: 50px; 
    text-align: center;
    color: black;
}
/* ===============================
          Table End
=============================== */
/* ===============================
          From Start
=============================== */
/* From Uiverse.io by mi-series */ 
.container {
    position: relative;
    max-width: 500px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
   
    margin:  100px;
  }
  
  .container header {
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
    text-align: center;
  }
  
  .container .form {
    margin-top: 15px;
  }
  
  .form .input-box {
    width: 100%;
    margin-top: 10px;
  }
  
  .input-box label {
    color: #000;
  }
  
  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #808080;
    margin-top: 5px;
    border: 1px solid #EE4E34;
    border-radius: 6px;
    padding: 0 15px;
    background: #FCEDDA;
  }
  
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  
  .form .column {
    display: flex;
    column-gap: 15px;
  }
  
  .form .gender-box {
    margin-top: 10px;
  }
  
  .form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }
  
  .form .gender {
    column-gap: 5px;
  }
  
  .gender input {
    accent-color: #EE4E34;
  }
  
  .form :where(.gender input, .gender label) {
    cursor: pointer;
  }
  
  .gender label {
    color: #000;
  }
  
  .address :where(input, .select-box) {
    margin-top: 10px;
  }
  
  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #808080;
    font-size: 1rem;
    background: #FCEDDA;
  }
  
  .form button {
    height: 40px;
    width: 100%;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #EE4E34;
  }
  
  .form button:hover {
    background: #EE3E34;
  }

  /* ========================= */